nav {
  background-color: black;
  color: wheat;
  list-style: none;
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 0px;
  justify-content: center;
}
.App {
  display: flex;
  align-items: center;
  gap: 40px;
  padding: 20px 40px;
}
.product-crd {
  width: 33%;
  display: grid;
  background-color: #67c7c7;
  border-radius: 20px;
  color: white;
  justify-content: center;
}